
$gutenberg-border: #e2e4e7;
$active-handle-border: #ccd0d4;
$outline-spacing: 1em;

// Set Editor Style Data Attributes Alternatives
$c-row: '.row';
$c-col: '.col';
$c-row__item: '.grid__item';
$c-col-prefix: 'data-sh-column-attr-size';

$gridable-row-simple: '[data-sh-row-attr-row_style=simple]';
$gridable-row-boxed: '[data-sh-row-attr-row_style=boxed]';

$gridable-col-simple: '.row .grid__item[data-sh-column-attr-column_style=simple]';
// $gridable-col-highlighted: '.row .grid__item[data-sh-column-attr-column_style=highlighted]';
$gridable-col-boxed: '.row .grid__item[data-sh-column-attr-column_style=boxed]';

/**
 * Grid Layout
 */

.gridable {
	margin-left: -$outline-spacing;
	margin-right: -$outline-spacing;
	margin-bottom: 1.5rem;

	&, *, *:before, *:after {
		box-sizing: border-box;
	}
}

/**
 * Grid Row
 */

#{$c-row} {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/**
 * Grid Columns
 */

#{$c-col} {
	flex: 0 0 100%;
	max-width: 100%;
	max-width: 100%;
}

/**
 * Grid Columns
 */

@for $i from 1 through 12 {
	[#{$c-col-prefix}='#{$i}'] {
		flex-basis: calc(#{percentage($i/12)});
		width: percentage($i/12);
	}
}

/* UI Interactions
   ========================================================================== */

#{$c-row} {

	// Row Ellipis Menu
	&:after {
		content: "...";
		display: block;

		color: #82878c;
		font-size: 25px;
		font-weight: bold;
		font-family: initial;

		position: absolute;
		left: -15px;
		top: 50%;
		margin-top: -15px;
		transform: rotate(90deg);

		opacity: 0;
		transition: opacity .2s, outline .2s ease-out;
	}

	> #{$c-col} {
		position: relative;
		display: inline-block;
		padding: $outline-spacing;
		transition: all .2s ease-out;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		& * {
			-webkit-user-select: text; /* Chrome 49+ */
			-moz-user-select: text; /* Firefox 43+ */
			-ms-user-select: text; /* No support yet */
			user-select: text; /* Likely future */
		}

		&:first-child .gridable__resizer {
			display: none;
		}

		img {
			margin-left: 0;
			margin-right: 0;
			max-width: 100%;
		}
	}

	// Row Hover
	&[data-mce-selected]::after,
	&.is-focused::after,
	&:hover::after {
		opacity: 1;
		cursor: pointer;
	}
}

.gridable__content {
	overflow: hidden;
}

.gridable__resizer {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -20px;
	width: 40px;
	z-index: 9999;
	cursor: col-resize;
	transition: opacity .2s ease-out;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 19px;
		width: 2px;
		background-color: $gutenberg-border;
		transition: background-color .2s ease-out;
	}
}

.gridable.grabbing {
	/* autoprefixer: off */

	&,
	* {
		cursor: move;
	}

	// #{$c-row__item}:not(:first-of-type):before {
	// 	cursor: move;
	// }

	~ .mce-visual-caret {
		display: none;
	}

	.gridable__resizer {
		opacity: 1;
	}
}

.gridable__resizer:hover::before,
.gridable.grabbing .gridable__resizer::before {
	background-color: $active-handle-border;
}


.mce-content-body [contentEditable=false][data-mce-selected] .gridable__resizer,
.mce-content-body [contentEditable=false].is-focused .gridable__resizer,
.mce-content-body [contentEditable=false]:hover .gridable__resizer {
	opacity: 1;
}

.no_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// Following the WordPress Default Classes
.mce-content-body {
	*[contentEditable=false] {

		&:hover {
			outline: 1px solid $gutenberg-border;
		}
		&.is-focused,
		&[data-mce-selected] {
			outline: 2px solid $gutenberg-border;
		}
	}

	// Gridable Specifics
	#{$c-row}[contentEditable=false] {
		position: relative;

		#{$c-col}[contentEditable=true] {
			&:hover,
			&:focus {
				outline: none;
			}
		}
	}
}


/* Rows and Columns Style Variants
   ========================================================================== */


// Rows Styling Rules
#{$gridable-row-simple} {

}

// Full Width Light Background
#{$gridable-row-boxed} {
	padding: 20px;
	background-color: #222222;
}

// Columns Styling Rules
// Default
#{$gridable-col-simple} {

}

// Dark Background
// White Text
// Padding
#{$gridable-col-boxed} {
	// @extend %p-m;
	padding: 20px;
	background-color: #222222;

	* {
		color: white;
	}
}


